body {
  background: url("../assets/SwirlBG.jpg");
}

.Board {
  height: 100%;
  margin-top: 20px;
  padding: 20px 10px;
  /*background-color: #00BCD4;*/
  /*border: 1px solid #bbb;*/
  background: url("../assets/pink_rice.png");
  /*background: url("../assets/LodyasBG.jpg");*/
  box-shadow: 2px 2px 8px #555555;
}

.page-header {
  margin-top: 0;
  margin-bottom: 30px;
}

.Blocks {
  max-width: 700px;
  margin: 0 auto;
}

.Block {
  padding-right: 10px;
  padding: 10px;
}

.Block .Cell {
  width: 40px;
  margin: 5px 3px;
  display: inline-block;
  vertical-align: middle;
}

.Block input {
  border: 1px solid #aaa;
  text-align: center;
}


.Bottom h4 {
  display: block;
  color: #000;
}

textarea {
  resize: none;
  border: 1px solid #aaa;
}

.Bottom button {
  margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.instructions {
  margin-top: 10px;
  text-align: justify; !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

.instructions li {
  margin-bottom: 5px;
}